<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" tempDirectory="D:\PleskVhosts\rcpinfraprojects.in\tmp">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="1048576" targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
    <sessionState timeout="525600" mode="InProc"/>
    <machineKey validationKey="51AF6325FAE6656A8A7D79074BED3FD79E6930FE456B2539A039EA07B21D68C5F62A8677DA9A71E602D721F934E710B4EC74CB1FFCFB790F134C15E0DEA23F54" decryptionKey="91FECF927BECAB7D48FC5D3E13AA25554BE62908BBB7331D67DE4D07A7EC1BAF" validation="SHA1" decryption="AES"/>
    <!--<httpRuntime executionTimeout="360" />-->
    <trust level="Full"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Index.html"/>
        <add value="Index.php3"/>
        <add value="Index.php"/>
        <add value="Index.htm"/>
        <add value="Index.cfm"/>
        <add value="Index.shtml"/>
        <add value="Index.shtm"/>
        <add value="Index.stm"/>
        <add value="Index.asp"/>
        <add value="Index.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
	  <add name="String" connectionString="Data Source=P3NWPLSK12SQL-v13.shr.prod.phx3.secureserver.net;Integrated Security=False;Database=demo_aps; User ID=demo_aps; Password=demo_aps;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>